{% extends "base.html" %}

{% block content %}
<form method="post" action="{{ url_for('.new_package') }}">
    {{ form.csrf_token }}
    <div>
        {{ form.sender_name.label }} {{ form.sender_name }}
        {{ form.recipient_name.label }} {{ form.recipient_name }}
        {{ form.origin.label }} {{ form.origin }}
        {{ form.destination.label }} {{ form.destination }}
        {{ form.express_bool.label }} {{ form.express_bool }}
        {{form.submit}}
        {{form.cancel}}
    </div>
{% endblock %}
